<body>
    <header>
        <div class="title">
            <img
                class="shield"
                src="../resource/shield-tro.png"
                alt="Italian Trulli"
            />
            <div class="splash-title">
                <p>АВТОМАТИЗАЦІЯ</p>
                <p>СТРОЙОВОЇ ЧАСТИНИ</p>
            </div>
        </div>
    </header>
    <footer></footer>
    <!-- <style> -->
    <link rel="stylesheet" href="./style.css" />
    <!-- </style> -->
    <!-- <script> -->
    <!-- <script src="./calculation.js"></script>
     -->
    <!-- </script> -->
</body>
